In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [5]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [2]:
!wget $data -O housing.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [10]:
pd.__version__
# Q1

'2.0.3'

In [11]:
df = pd.read_csv('housing.csv')
len(df.columns)
# Q2

10

In [12]:
df.isnull().sum()
# Q3 `total_bedrooms`

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [23]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [52]:
df[df['ocean_proximity']=='near_bay'].median_house_value.mean()
# Q5

259212.31179039303

In [58]:
df.total_bedrooms.mean()

537.8705525375618

In [60]:
df.total_bedrooms.fillna(df.total_bedrooms.mean())

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

In [61]:
df.total_bedrooms.mean()
# Question 6 --> No

537.8705525375618

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [28]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,near_bay
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,near_bay
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,near_bay
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,near_bay
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,near_bay

In [31]:
df.ocean_proximity.unique()

array(['near_bay', '<1h_ocean', 'inland', 'near_ocean', 'island'],
      dtype=object)

In [32]:
only_island_df=df[df['ocean_proximity']=='island']

In [35]:
base=['housing_median_age', 'total_rooms', 'total_bedrooms']
only_3_columns=only_island_df[base]

In [43]:
only_3_columns = only_3_columns.reset_index(drop=True)

In [45]:
only_3_columns.head(10)

   housing_median_age  total_rooms  total_bedrooms
0                27.0       1675.0           521.0
1                52.0       2359.0           591.0
2                52.0       2127.0           512.0
3                52.0        996.0           264.0
4                29.0        716.0           214.0

In [53]:
X = only_3_columns.values

In [54]:
XTX = X.T.dot(X)

In [55]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [56]:
y=[950, 1300, 800, 1000, 1300]

In [57]:
XTX_inv = np.linalg.inv(XTX)
w_full = XTX_inv.dot(X.T).dot(y)
w_full
# Q7

array([23.12330961, -1.48124183,  5.69922946])