In [1]:
import pandas as pd
import numpy as np

In [3]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [4]:
!wget $data

--2023-09-28 21:38:11--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8000::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv'

     0K .......... .......... .......... .......... ..........  3%  223K 6s
    50K .......... .......... .......... .......... ..........  6% 1.12M 4s
   100K .......... .......... .......... .......... .......... 10%  996K 3s
   150K .......... .......... .......... .......... .......... 13% 1.00M 2s
   200K .......... .......... .......... .......... .......... 17%  966K 2s
   250K .......... .......... .......... .......... .......... 20% 1.30M 2s
   300K .......... .......... .......... .......... .......... 24% 1.00M 2s
   350K .......... .......... .......... .......... .......... 27%  943K 1s
   400K .......... .......... .......... .......... .......... 31%  811K 1s
   450K .......... .......... .......... .......... .......... 34% 2.12M 1s
   500K .......... .......... .......... .......... .......... 38%  283K 1s
   550K .......... .......... .......... .......... .......... 41%  133M 1s
   600K .......... .......... .......... .......... .......... 45%  126M 1s
   650K .......... .......... .......... .......... .......... 48%  130M 1s
   700K .......... .......... .......... .......... .......... 52%  160M 1s
   750K .......... .......... .......... .......... .......... 55%  128M 1s
   800K .......... .......... .......... .......... .......... 58%  136M 1s
   850K .......... .......... .......... .......... .......... 62% 97.3M 0s
   900K .......... .......... .......... .......... .......... 65% 56.6M 0s
   950K .......... .......... .......... .......... .......... 69%  164M 0s
  1000K .......... .......... .......... .......... .......... 72% 4.39M 0s
  1050K .......... .......... .......... .......... .......... 76% 2.27M 0s
  1100K .......... .......... .......... .......... .......... 79% 2.95M 0s
  1150K .......... .......... .......... .......... .......... 83% 3.02M 0s
  1200K .......... .......... .......... .......... .......... 86% 3.11M 0s
  1250K .......... .......... .......... .......... .......... 90% 2.97M 0s
  1300K .......... .......... .......... .......... .......... 93% 3.00M 0s
  1350K .......... .......... .......... .......... .......... 97% 3.03M 0s
  1400K .......... .......... .......... ..........           100% 3.21M=1.0s

2023-09-28 21:38:14 (1.46 MB/s) - 'data.csv' saved [1475504/1475504]

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
features = ['Make',
'Model',
'Year',
'Engine HP',
'Engine Cylinders',
'Transmission Type',
'Vehicle Style',
'highway MPG',
'city mpg']

In [5]:
df =df[features + ["MSRP"]]

In [6]:
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [7]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [8]:
df.rename(columns = {'msrp':'price'}, inplace = True)

In [9]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [10]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [11]:
df = df.fillna(0)

In [12]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [13]:
# Q1 --> AUTOMATIC           
df.transmission_type.value_counts()

transmission_type
AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: count, dtype: int64

In [14]:
price = df.price.values

In [15]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [16]:
numerical = ['engine_hp','engine_cylinders', 'highway_mpg', 'city_mpg' ]
categorical = ['make','model','year','transmission_type','vehicle_style']

In [17]:
corr_matrix = df[numerical].corr()
corr_matrix

                  engine_hp  engine_cylinders  highway_mpg  city_mpg
engine_hp          1.000000          0.774851    -0.415707 -0.424918
engine_cylinders   0.774851          1.000000    -0.614541 -0.587306
highway_mpg       -0.415707         -0.614541     1.000000  0.886829
city_mpg          -0.424918         -0.587306     0.886829  1.000000

In [18]:
for i in range(len(corr_matrix)):
    corr_matrix.iloc[i][i]=0

In [19]:
corr_matrix

                  engine_hp  engine_cylinders  highway_mpg  city_mpg
engine_hp          0.000000          0.774851    -0.415707 -0.424918
engine_cylinders   0.774851          0.000000    -0.614541 -0.587306
highway_mpg       -0.415707         -0.614541     0.000000  0.886829
city_mpg          -0.424918         -0.587306     0.886829  0.000000

In [20]:
# Q2 -- > ('highway_mpg', 'city_mpg')
max_corr_pair = (corr_matrix.abs().stack().idxmax())
max_corr_pair

('highway_mpg', 'city_mpg')

In [21]:
df["above_average"] = (df.price>df.price.mean()).astype(int)
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0

In [22]:
df.price.mean()

40594.737032063116

In [23]:
del df['price']

In [24]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,0

In [25]:
from sklearn.model_selection import train_test_split

In [102]:
# df_train, df_temp = train_test_split(df, test_size=0.4, random_state=42)
# df_val, df_test = train_test_split(df_temp, test_size=0.5, random_state=42)

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [103]:
from sklearn.metrics import mutual_info_score

In [104]:
scores={}
for category in categorical:
    scores[category] = round(mutual_info_score(df_train.above_average, df_train[category]),2)

In [105]:
scores

{'make': 0.24,
 'model': 0.46,
 'year': 0.07,
 'transmission_type': 0.02,
 'vehicle_style': 0.08}

In [106]:
# Q3 --> 'transmission_type'
min(scores, key=lambda k: scores[k])

'transmission_type'

In [107]:
from sklearn.feature_extraction import DictVectorizer

In [108]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

In [109]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [110]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [111]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

In [112]:
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [113]:
from sklearn.metrics import accuracy_score

In [114]:
# Q4 --> 0.95
main_accuracy = round(accuracy_score(model.predict(X_val),y_val),2)
main_accuracy

0.95

In [115]:
features_to_eleminate = ['year',
'engine_hp',
'transmission_type',
'city_mpg']

In [116]:
features_score = {}
for feature_to_eleminate in features_to_eleminate:
    dv = DictVectorizer(sparse=False)
    train_dict = df_train[[x for x in categorical + numerical if x != feature_to_eleminate]].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)
    
    val_dict = df_val[[x for x in categorical + numerical if x != feature_to_eleminate]].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    features_score[feature_to_eleminate] = abs(accuracy_score(model.predict(X_val),y_val) - main_accuracy)

In [117]:
features_score

{'year': 0.0020352496852705793,
 'engine_hp': 0.02217792698279475,
 'transmission_type': 0.004972723457826178,
 'city_mpg': 0.01756189676877884}

In [118]:
# Q5 --> 'year'
min(features_score, key=lambda k: features_score[k])

'year'

In [142]:
df=pd.read_csv("data.csv")
features = ['Make',
'Model',
'Year',
'Engine HP',
'Engine Cylinders',
'Transmission Type',
'Vehicle Style',
'highway MPG',
'city mpg']

df =df[features + ["MSRP"]]
df.columns = df.columns.str.replace(' ', '_').str.lower()
df = df.fillna(0)
df.rename(columns = {'msrp':'price'}, inplace = True)
df.price = np.log1p(df.price)

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

del df_train['price']
del df_val['price']
del df_test['price']

df_train.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15
1,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17
2,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12
3,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20
4,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20

In [145]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from tqdm import tqdm

In [147]:
# Q6 --> 0
alpha_values = [0, 0.01, 0.1, 1, 10]
results={}
for alpha in tqdm(alpha_values):
    dv = DictVectorizer(sparse=False)

    train_dict = df_train.to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    # print(df_train[categorical + numerical].head())
    # break
    
    val_dict = df_val.to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    ridge_model = Ridge(alpha=alpha, solver='sag',random_state=42)
    ridge_model.fit(X_train, y_train)
    
    
    y_pred = ridge_model.predict(X_val)

    rmse = np.sqrt(mean_squared_error(y_val, y_pred))

    print(alpha ,round(rmse, 3))
    results[alpha]= round(rmse, 3)

  0%|          | 0/5 [00:00<?, ?it/s]C:\Users\Ibraheem Taha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
 20%|██        | 1/5 [00:57<03:51, 57.95s/it]

0 0.487

C:\Users\Ibraheem Taha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
 40%|████      | 2/5 [01:56<02:54, 58.11s/it]

0.01 0.487

C:\Users\Ibraheem Taha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
 60%|██████    | 3/5 [02:54<01:56, 58.35s/it]

0.1 0.487

C:\Users\Ibraheem Taha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
 80%|████████  | 4/5 [03:52<00:58, 58.20s/it]

1 0.487

C:\Users\Ibraheem Taha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
100%|██████████| 5/5 [04:50<00:00, 58.02s/it]

10 0.487

In [148]:
# Q6 --> 
min(results, key=lambda k: results[k])

0